## Lab 5 - Pandas Basics

In [1]:
import numpy as np
import pandas as pd

#### Pandas functions and basics

In [2]:
arr1 = np.array([10,20,34,53,65])
s1 = pd.Series(arr1, dtype = np.float64)
print(s1)

0    10.0
1    20.0
2    34.0
3    53.0
4    65.0
dtype: float64

In [3]:
arr2 = np.array(['a','b','c','d'])
s2 = pd.Series(arr2, index=['first', 'second', 'third', 'fourth'])
print(s2)

first     a
second    b
third     c
fourth    d
dtype: object

##### Add 2 series

In [4]:
#np arrays
arr10 = np.random.randint(0,9,5)
arr11 = np.random.randint(0,9,5)

#pd series
s10 = pd.Series(arr10)
s11 = pd.Series(arr11)

print(s10)
print()
print(s11)

#adding 2 series
s12 = s10+s11
print()
print(s12)

0    1
1    7
2    1
3    8
4    6
dtype: int64

0    2
1    7
2    4
3    3
4    6
dtype: int64

0     3
1    14
2     5
3    11
4    12
dtype: int64

#### add with missing value

In [5]:
print(s10)
print()
print(s11)

#adding 2 series
s13 = s10+s11
print()
print(s13)

0    1
1    7
2    1
3    8
4    6
dtype: int64

0    2
1    7
2    4
3    3
4    6
dtype: int64

0     3
1    14
2     5
3    11
4    12
dtype: int64

#### manage NaN value with fill value

In [6]:
print(s10)
print()
print(s11)

#adding 2 series

s14 = s10.add(s11, fill_value = 0)

print()
print(s14)

0    1
1    7
2    1
3    8
4    6
dtype: int64

0    2
1    7
2    4
3    3
4    6
dtype: int64

0     3
1    14
2     5
3    11
4    12
dtype: int64

#### head()

In [7]:
#np arrays
arr20 = np.random.randint(0,9,20)


#pd series
s20 = pd.Series(arr20)


print(s20)
print()
#head()
print(s20.head())
print()
print(s20.head(3))

0     4
1     6
2     6
3     1
4     4
5     0
6     7
7     8
8     7
9     3
10    0
11    3
12    0
13    7
14    1
15    6
16    7
17    6
18    3
19    2
dtype: int64

0    4
1    6
2    6
3    1
4    4
dtype: int64

0    4
1    6
2    6
dtype: int64